node_modules/
dist/
out/
*.log
.DS_Store
Thumbs.db

# Electron
*.asar
*.asar.bak

# Environment
.env
.env.local

# IDE
.vscode/
.idea/

# OS
Desktop.ini

# Build output
release/
*.blockmap
*.yml
build-log.txt
